
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

[class*="col-"] {
    width: 100%;
    padding: 0px;
}


@media only screen and (min-width: 1201px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    div.topnav {
        display: none;
    }
}

header {
    position: relative;
    overflow: hidden;
    background-color: #F5FBF8;
}

section {
    position: relative;
    overflow: hidden;
}

footer {
    position: relative;
    overflow: hidden;
    background-color: #F9FAFF;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
}

#logo {
    font-size: 2.5em;
    font-weight: 700;
    padding: 0px 20px;
}

.navmenu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navmenu ul > li > a {
    text-decoration: none;
    padding: 0px 20px;
    font-size: 0.9em;
    font-weight: 600;
    color: #515251;
}

.get-started {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    margin: 0px 20px;
}

.green-button {
    border-style: none;
    border-radius: 25px;
    padding: 14px 40px;
    font-size: 1em;
    font-weight: 600;
    background-color: #02AD88;
    color: #ffffff;
}

.hero-section {
    padding: 50px 0px;
    background-color: #F5FBF8;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 50px 20px;
}

.speech {
    padding-left: 20px;
    margin: 20px 0px;
}

.speech h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: #9E6AFE;
    padding-bottom: 5px;
}

.speech h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 50px;
    color: #252A3A;
    padding-bottom: 20px;
}

.speech p {
    font-size: 1.1em;
    font-weight: 500;
    line-height: 30px;
    text-transform: capitalize;
    color: #252A3A;
    padding-bottom: 30px;
}

.speech button {
    padding: 15px 40px;
    border-style: none;
    border-radius: 25px;
    background-color: #645CFE;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    text-transform: capitalize;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 60px;
}

.section-title {
    padding-left: 20px;
}

.section-title h2 {
    font-size: 2.6em;
    font-weight: 600;
    line-height: 50px;
    color: #252A3A;
    text-transform: capitalize;
}

.section-title span {
    color: #02AD88;
}

.section-des p {
    font-size: 1em;
    font-weight: 400;
    line-height: 25px;
    color: #7b7b8c;
}

.features-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 100px;
}

.features-detail {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #f0f0f0;
    border-radius: 15px;
    margin: 15px;
}

.features-detail img {
    margin: 40px 0px;
    padding: 18px;
    border-radius: 36px;
    background-color: #CCEFE7;
}

.features-detail h4 {
    font-size: 1.1em;
    font-weight: 500;
    color: #252A3A;
}

.features-detail p {
    font-size: 1em;
    font-weight: 400;
    line-height: 25px;
    color: #7b7b8c;
    padding: 20px;
}

.features-detail a {
    font-size: 0.9em;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    color: #252A3A;
    padding-top: 5px;
    padding-bottom: 40px;
}

.pricing-section {
    background-image: linear-gradient(#EEFEF9, #F7F8F6, #FEF3F3);
}

.pricing-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 100px;
}

.pricing-detail {
    display: flex;
    text-align: start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    margin: 15px 15px;
    box-shadow: 1px 1px 2px #f0f0f0;
}

.pricing-detail h4 {
    font-size: 1.5em;
    font-weight: 400;
    color: #21232c;
    padding-bottom: 20px;
}

.pricing-detail p {
    font-size: 1em;
    font-weight: 400;
    color: #7b7b8c;
}

.pricing-detail p sup {
    font-size: 2.5em;
    font-weight: 800;
    color: #21232c;
}

.pricing-detail ul {
    list-style: none;
    padding: 30px 0px;
}

.pricing-detail ul > li {
    padding: 10px 0px;
}

.pricing-detail ul > li > p img {
    padding-right: 10px;
}

.pricing-detail-black {
    display: flex;
    text-align: start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid #e9c2c2;
    background-color: #21232c;
    border-radius: 20px;
    padding: 30px;
    margin: 15px 15px;
    box-shadow: 1px 1px 2px #f0f0f0;
}

.pricing-detail-black h4 {
    font-size: 1.5em;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 20px;
}

.pricing-detail-black p {
    font-size: 1em;
    font-weight: 400;
    color: #ffffff;
}

.pricing-detail-black p sup {
    font-size: 2.5em;
    font-weight: 800;
    color: #ffffff;
}

.pricing-detail-black ul {
    list-style: none;
    padding: 30px 0px;
}

.pricing-detail-black ul > li {
    padding: 10px 0px;
}

.pricing-detail-black ul > li > p img {
    padding-right: 10px;
}

.contact-us {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin: 20px 0px 100px;
}

.contact-form form {
    margin-left: 20px;
}

.contact-form form input {
    padding: 15px 0px 15px 15px;
    margin-bottom: 20px;
    font-size: 0.8em;
    font-weight: 400;
    color: #7b7b8c;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    text-align: left;
}

#message {
    height: 210px;
    padding: 15px 0px 15px 15px;
    margin-bottom: 20px;
    font-size: 0.8em;
    font-weight: 400;
    color: #7b7b8c;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    text-align: left;
}

#email {
    margin-left: 20px;
}

.map {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.footer-menus {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin: 100px 0px;
}

.bottom-dsc {
    padding: 0px 35px 0px 20px;
}

.links {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.links h4 {
    font-size: 1.1em;
    font-weight: 500;
    color: #21232c;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.links a {
    padding: 5px 0px;
    font-size: 1em;
    color: #21232c;
    font-weight: 400;
    text-decoration: none;
}

.links address {
    padding: 5px 0px;
    font-size: 1em;
    color: #21232c;
    font-weight: 400;
    text-decoration: none;
}

.bottom-dsc p {
    font-size: 1em;
    font-weight: 400;
    line-height: 25px;
    color: #21232c;
}

.copyright-bg {
    background-color: #ffffff;
}

.copyright {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: row;
    background-color: #ffffff;
    padding: 20px 0px 20px 20px;
}

.copyright span {
    color: #02AD88;
}